<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="starter-template text-center">
		<h3>
			Liderados <a th:href="@{/liderado/novo}"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
		</h3>
	</div>

	<div class="container-fluid">


		<table class="table table-responsive table-bordered table-striped">
			<thead>
				<tr>
					<th class="col-sm-4">Nome</th>
					<th class="col-sm-3">Cargo</th>
					<th class="col-sm-3">Observações</th>
					<th class="col-sm-2">Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${listagem}">
					<td th:utext="${item.nome}"></td>
					<td th:utext="${item.cargo}"></td>
					<td th:utext="${item.observacoes}"></td>
					<td class="text-center">
						<a th:href="@{/liderado/editar} +'?idLiderado=' +${item.id}"> <i class="fa fa-pencil" style="padding-right: 10px;"></i></a> 
						<a th:href="@{/liderado/remover} +'?idLiderado=' +${item.id}"> <i class="fa fa-remove" style="padding-right: 10px;"></i></a>
						<a th:href="@{/oneOnOne/listagemOneOnOne} +'?idLiderado=' +${item.id}"> <i class="fa fa-list"></i></a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>