<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="starter-template text-center">
		<h3>
			Projeto <a th:href="@{/projeto}"><i class="fa fa-list" aria-hidden="true"></i></a>
		</h3>
	</div>

	<div class="container-fluid">

		<form method="POST" th:object="${projeto}" class="form-vertical  js-form-loading" th:action="@{/projeto/salvar}">
			<input type="hidden" th:field="*{id}" />

			<div class="alert alert-danger text-center" role="alert" th:if="${mensagem}">
				<span th:utext="${mensagem}"></span>
			</div>

			<div class="row gy-3">
				<div class="col-sm-4  form-group">
					<label>Nome projeto</label>
					<input type="text" th:field="*{nomeProjeto}" class="form-control" autofocus="autofocus" />
				</div>

				<div class="col-sm-2 form-group">
					<label>Data início</label>
					<input type="text" th:field="*{{dataInicio}}" class="form-control datepicker" autocomplete="off" />
				</div>

				<div class="col-sm-2 form-group">
					<label>Data final</label>
					<input type="text" th:field="*{{dataFim}}" class="form-control datepicker" autocomplete="off" />
				</div>

				<div class="col-sm-2  form-group">
					<label>Responsável</label>
					<input type="text" th:field="*{responsavel}" class="form-control" autofocus="autofocus" />
				</div>

				<div class="col-sm-2 form-group">
					<label>Finalizado</label>
					<select class="form-select" name="finalizado">
						<option value="false">Não</option>
						<option value="true" th:selected="*{finalizado}">Sim</option>
					</select>
				</div>
				<div class="col-sm-12  form-group">
					<label>Observações</label>
					<textarea th:field="*{observacoes}" class="form-control" rows="5" maxlength="500"></textarea>
				</div>
				<div class="form-group text-center">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</div>

		</form>
	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>