<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="starter-template text-center">
		<h3>
			Atividades <th:block th:if="${tipoAtividade}"> <th:block th:utext="${tipoAtividade.nome}"> </th:block>  <a th:href="@{/tipoAtividade/}"> <i class="fa fa-arrow-left" aria-hidden="true"></i></a> </th:block>  <a th:if="${tipoAtividade == null}" th:href="@{/atividade/novo}"> <i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
		</h3>
	</div>

	<div class="container-fluid">

		<table class="table table-responsive table-bordered table-striped">
			<thead class="headerFixo">
				<tr>
					<th class="col-sm-2">Texto</th>
					<th class="col-sm-1">Envolvidos</th>
					<th class="col-sm-1">Tipo Atividade</th>
					<th class="col-sm-1">Data Criação</th>
					<th class="col-sm-1">Data Execução</th>
					<th class="col-sm-1">Data Finalização</th>
					<th class="col-sm-1">Finalizado</th>
					<th class="col-sm-2">Observações</th>
					<th class="col-sm-1">Opções</th>
				</tr>
			</thead>
			<tbody >
				<tr th:each="item : ${listagem}" th:classappend="${item.estiloLinha}">
					<td th:utext="${item.texto}"></td>
					<td th:utext="${item.envolvidos}"></td>
					<td th:utext="${item.tipoAtividade?.nome}"></td>
					<td th:utext="${{item.dataCriacao}}"></td>
					<td th:utext="${{item.dataExecucao}}"></td>
					<td th:utext="${{item.dataFinalizacao}}"></td>
					<td th:utext="${item.finalizado} ? 'Sim' : 'Não'"></td>
					<td th:utext="${item.observacoes}"></td>
					<td class="text-center">
						<a th:href="@{/atividade/editar} +'?idAtividade=' +${item.id}"> <i class="fa fa-pencil" style="padding-right: 10px;"></i></a> <a
							th:href="@{/atividade/remover} +'?idAtividade=' +${item.id}"> <i class="fa fa-remove"></i></a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>