<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="starter-template text-center">
		<h3>Resumo Atividades</h3>
	</div>

	<div class="container-fluid">
		<form th:action="@{/grafico/buscarResumoAtividadeSubProjeto}" th:method="POST" class="form">

			<div class="row">
				<div class="col-sm-3  form-group">
					<label for="mes">Sub Projetos</label>
					<select class="form-select" name="idSubProjeto">
						<option label="Selecione..." value="" />
						<option th:each="item : ${listaSubProjeto}" th:utext="${item.nomeSubProjeto}" th:value="${item.id}" th:selected="${item.id} == ${subSelecionado}" />
					</select>
				</div>
				<div class="form-group col-sm-3" style="padding-top: 22px;">
					<button class="btn btn-primary" type="submit">Pesquisar</button>
				</div>

				<div class="form-group col-sm-3" style="padding-top: 22px;">
					<button th:if="*{exibirDetalhe}" class="btn btn-primary loader" type="button" id="buscarGraficoResumoAtividades">Detalhes</button>
				</div>
			</div>

		</form>

		<div class="row">
			<div class="form-group col-sm-2 littleTopSpace" th:each="item : ${listagemAtividades}">
				<div class="card">
					<div class="card-header text-center" th:utext="${item.nomeAtividade}" style="font-weight: bold; color: white">Featured</div>
					<ul class="list-group list-group-flush">
						<li th:classappend="${item.estiloLinha}" class="list-group-item" th:utext="|Esteira Gerada: ${item.esteiraGerada ? 'Sim' : 'Não'}|">An item</li>
						<li th:classappend="${item.estiloLinha}" class="list-group-item" th:utext="|Desenvolvimento: ${{item.percentualDesenvolvimento}} %|">An item</li>
						<li th:classappend="${item.estiloLinha}" class="list-group-item" th:utext="|Teste Essencial: ${{item.percentualTesteEssencial}} %|">An item</li>
						<li th:classappend="${item.estiloLinha}" class="list-group-item" th:utext="|Teste Completo: ${{item.percentualTesteCompleto}} %|">An item</li>
					</ul>
				</div>
			</div>
		</div>


		<button style="visibility: hidden" type="button" id="botaoModal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>
		
		<div class="modal" tabindex="-1" id="exampleModal">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h5 class="modal-title">Resumo de atividades %</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="text-center littleTopSpace" style="height: 30vh; width: 30vw">
							<canvas id="myChart"></canvas>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>


	</div>



	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>