<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer" class="footer fixed-bottom">

		<div class="text-center">

			<footer>
				<!-- this is footer -->
				&copy; 2022 Gilson Braggion <span sec:authorize="isAuthenticated()"> | Logged username: <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span>
				</span>
				
				<span sec:authorize="!isAuthenticated()"> | User not authenticated yet!
				</span>

				<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

			</footer>
		</div>

	</div>
</body>
</html>