@charset "UTF-8";

h1{
	color:#0000FF;
}

h2 {
	color:#FF0000;
}

h3 {
	color:#696969;
}

footer {
    margin-top:60px;
}

.topSpace {
	margin-top: 40px;
}

button {
	margin-top: 15px;
}

.littleTopSpace {
	margin-top: 15px;
}


.starter-template {
	margin-top: 15px;
}

.card-header {
	background-color: #4682B4;
}

.headerTabelaInicial {
	background-color: #ADD8E6;
}

.atividadeConcluida {
	background-color: #7FFFD4 !important;
}

.atividadeVencida {
	background-color: #FAFAD2 !important;
}

.atividadeFutura {
	background-color: #E0FFFF !important;	
}

.diagonal-gradient {
  background: linear-gradient(to bottom right, green, white);
}