<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container-fluid">
		<!-- /.container -->

		<th:block th:each="item: ${listaPainel}">

			<div class="accordion" id="accordionPanelsStayOpenExample">
				<div class="accordion-item">
					<h2 class="accordion-header" th:id="'panelsStayOpen-heading+${item.idTipoAtividade}'">
						<button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#panelsStayOpen-collapse'+${item.idTipoAtividade}" aria-expanded="false">
							<th:block th:utext="${item.nomeTipoAtividade}"></th:block>
							<th:block th:utext="${item.dataMaisProxima}"></th:block>
							<a style="margin-left: 20px;" th:href="@{/atividade/atividadeFromHome} + '?idTipoAtividade=' + ${item.idTipoAtividade}"> <i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
						</button>
					</h2>
					<div th:id="'panelsStayOpen-collapse'+${item.idTipoAtividade}" class="accordion-collapse collapse"
						th:attr="aria-labelledby='#anelsStayOpen-heading'+${item.idTipoAtividade} + ' aria-controls=panelsStayOpen-collapse'+${item.idTipoAtividade}">
						<div class="accordion-body">
							<table class="table table-responsive table-bordered table-striped">
								<thead class="headerTabelaInicial">
									<tr>
										<th class="col-sm-4">Texto</th>
										<th class="col-sm-2">Envolvidos</th>
										<th class="col-sm-1">Data Execução</th>
										<th class="col-sm-1">Data Finalização</th>
										<th class="col-sm-4">Observações</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="ativ: ${item.listaAtividades}" th:classappend="${ativ.estiloLinha}">
										<td>
											<a th:href="@{/atividade/editar} +'?idAtividade=' +${ativ.id} + '&fromHome='+'true'" th:utext="${ativ.texto}"> <i class="fa fa-pencil" style="padding-right: 10px;"></i></a>
										</td>
										<td th:utext="${ativ.envolvidos}"></td>
										<td th:utext="${{ativ.dataExecucao}}"></td>
										<td th:utext="${{ativ.dataFinalizacao}}"></td>
										<td th:utext="${ativ.observacoes}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


		</th:block>

		<!-- /.container -->
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>