<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <h2>Carregar as atividades vencendo para o dia</h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"> </div>

</body>
</html>